<h1><%= @username %></h1>
<img src="<%= @gravatar_url %>" />
<ul>
    <% @tweets.each do |tweet| %>
    <li><%= tweet %></li>
    <% end %>
</ul>

<div>  <a href="/users/<%=@username%>/honchos"><p>Honchos:<%= @honcho_count %></p></a> </div>

<div>  <a href="/users/<%=@username%>/stalkers"><p>Stalkers:<%= @stalkers_count %></p></a> </div>

<form action="/logout" method="post">
  <input type="submit" value="Logout">
</form>
