<h1><%= @username %></h1>
<img src="<%= @gravatar_url %>"/>
<div id="stats">
  <p><a href="/users/<%=@username%>/honchos" class ="btn">Honchos: <%= @honcho_count %></p></a>
  </br>
  <p><a href="/users/<%=@username%>/stalkers" class="btn">Stalkers: <%= @stalkers_count %></p></a>
</br>
  <a href="/stalk/<%= @userid %>" class="usbtn"><%= @stalk_button_message %></a>
</div>

<% @tweets.each do |tweet| %>
    <%= erb :'_tweet', :locals => { text: tweet[0], user_name: tweet[1], created_at: tweet[2], tweet_id: tweet[3] } %>
<% end %>


